$color-black: #020202;
$color-white: #fff;
$color-grey: #9c9c9f;
$color-blue-1: #d1ecfe;
$color-blue-2: #014d80;
$color-green: #eef5dd;
$color-yellow: #FEE3D1;
$color-pink: #f9a7d1;
$color-red: #eb4b63;

$input-disabled-color: rgba(0,0,0, .42) !default;
$input-disabled-solid-color: #949494 !default;
// Radio Buttons
$radio-fill-color: $color-blue-2 !default;
$radio-empty-color: #5a5a5a !default;
$radio-border: 2px solid $radio-fill-color !default;

$input-background: #fff !default;
$dropdown-item-height: 50px !default;